body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border-top: 10px solid white;
  border-bottom: 5px solid white;


.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 10px 20px 10px 20px;
}